
.navbar{
    background-color: #300B00;
}

body{
    background-color: rgb(49, 49, 47);
}

.nav-link{
    color: #CDC793;
}

.nav-link:hover{
    color: #885506;
}

#logo{
    color: #CDC793;
}

#logo:hover{
    color: #885506;
}

.home-text{
    color: #CDC793;
}

h4, h3, p, .dates{
    margin-top : 10px;
    color: #CDC793;
}
h3, .dates{
    margin-top: 15px;
}
p{
    margin-left: 20px;
    margin-bottom: 30px;
}

h3{
    margin-left: 20px;
}

.dates{
    margin-top: 20px;
}


#freaks{
    max-height: 422px;
    max-width: 500px;
}

[class^='imghvr-'],
[class*=' imghvr-'] {
  position: relative;
  display: inline-block;
  margin: 0px;
  max-width: 100%;
  background-color:#300B00;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
[class^='imghvr-'] > img,
[class*=' imghvr-'] > img {
  vertical-align: top;
  max-width: 100%;
}
[class^='imghvr-'] figcaption,
[class*=' imghvr-'] figcaption {
  background-color: inherit;
  padding: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
[class^='imghvr-'] h4,
[class*=' imghvr-'] h4 {
  margin-top: 50%;
  padding: 0;
  color: #CDC793;
  font-size: 40px;
}

[class^='imghvr-'],
[class*=' imghvr-'],
[class^='imghvr-']:before,
[class^='imghvr-']:after,
[class*=' imghvr-']:before,
[class*=' imghvr-']:after,
[class^='imghvr-'] *,
[class*=' imghvr-'] *,
[class^='imghvr-'] *:before,
[class^='imghvr-'] *:after,
[class*=' imghvr-'] *:before,
[class*=' imghvr-'] *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
/* imghvr-fade
   ----------------------------- */
.imghvr-fade figcaption {
  opacity: 0;
}
.imghvr-fade:hover > img {
  opacity: 0.5;
}
.imghvr-fade:hover figcaption {
  opacity: 1;
}

#edwardLabel, #mayaLabel, #elizabethLabel{
    margin: 0;
}

#family{
    max-height: 100%;
    max-width: 100%;
    margin-top: 20px;
}

.who{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
}

.btn-tickets{
    background-color: #300B00;
    color: #CDC793;
}
.btn-tickets:hover{
    background-color: #300B00;
    color: #885506;
}

table{
    padding: 20px;
    border-style: none;
    border-width: 1px;
    border-collapse: separate;
    border-spacing: 2px;
    margin-right: 20px;
    margin-top: 10%;
}

thead{
    text-align: center;
    padding: 10px;
    color: #885506;
    background-color: #300B00;
}
tbody{
    text-align: center;
    font-size: 15px;
}
th{
    border-style: solid;
    border-width: 1px;
    empty-cells: hide;
    padding: 10px;
    color: #885506;
    background-color: #300B00;
}
td{
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    color: #CDC793;
}

#reservation{
    margin-top: 20%;
    color: #CDC793;
}
#reservation:hover{
    margin-top: 20%;
    color: #885506;
}

input[type=radio]{
    display: none;
}

input[type=radio] + label:before {
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 17px;
    height: 17px;
}

input[type=radio]:checked + label:before{
    background: #885506;

}
#burger{
    background-color: #CDC793;
}

