<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>Dark Circus</title>
    
        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/style.css}" href="../static/style.css">
    
    </head>
        <body>
            <header>
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" id="logo" th:href="@{/home}">Dark Circus</a>
                        <button id="burger" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                            <span class="navbar-toggler-icon-fas fa-bars"></span>
                        </button>  
                        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/freaks}">Meet our freaks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/who}">Who are we ?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{tour}">Tour dates</a>
                        </li>
                        </ul>
                    </div>
                </nav>   
            </header>
            <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <h4>Meet us soon in your city</h4>
                    <ul>
                        <li class="dates">04 / 11 / 2019 - Hamburg</li>
                        <li class="dates">06 / 11 / 2019 - Berlin</li>
                        <li class="dates">09 / 11 / 2019 - Bruxelles</li>
                        <li class="dates">14 / 11 / 2019 - Strasbourg</li>
                        <li class="dates">15 / 11 / 2019 - Reims</li>
                        <li class="dates">18 / 11 / 2019 - Paris</li>
                        <li class="dates">24 / 11 / 2019 - Bordeaux</li>
                        <li class="dates">30 / 11 / 2019 - Biarritz</li>
                        <li class="dates">02 / 12 / 2019 - Marseille</li>
                        <li class="dates">05 / 12 / 2019 - Grenoble</li>
                        <li class="dates">06 / 12 / 2019 - Genève</li>
                        <li class="dates">09 / 12 / 2019 - Zurich</li>
                    </ul>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <table>
                        <h4>Our prices</h4>
                        <thead>
                            <tr>
                            <th></th>
                            <td>Adults (+16yo)</td>
                            <td>Children</td>
                            <td>Groups (10 people max)</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th>All Weeks (except Wed)</th>
                            <td>12€</td>
                            <td>9€</td>
                            <td>8€ / person</td>
                            </tr>
                        <tr>
                            <th>Wednesday & Week-Ends</th>
                            <td>15€</td>
                            <td>12€</td>
                            <td>10€ / person</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-sm-12 col-lg-6">
                    <a role="button" class="btn btn-tickets" id="reservation" data-toggle="modal" data-target="#book">Book your day now</a>
                    <div class="modal fade" id="book" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">Choose your dates</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Here, you book the date you want, payment only in cash at opening of the show.</p>
                                <form action="#" th:action="@{/reservation}" method="post" th:object="${reservation}">                   
                                    
                                    <input class="form-control" type="text" placeholder="Firstname *" name="firstname" required>
                                    <br>
                                    <input class="form-control" type="text" placeholder="Lastname *" name="lastname" required>
                                    <br>
                                    <input class="form-control" type="email" placeholder="E-mail *" name="mail" required>
                                    <br>

                                    <label for="date">Date</label>
                                    <select name="city" id="date">
                                        <option value="hamburg">04 / 11 / 2019 - Hamburg</option>
                                        <option value="berlin">06 / 11 / 2019 - Berlin</option>
                                        <option value="bruxelles">09 / 11 / 2019 - Bruxelles</option>
                                        <option value="strasbourg">14 / 11 / 2019 - Strasbourg</option>
                                        <option value="reims">15 / 11 / 2019 - Reims</option>
                                        <option value="paris">18 / 11 / 2019 - Paris</option>
                                        <option value="bordeaux">24 / 11 / 2019 - Bordeaux</option>
                                        <option value="biarritz">30 / 11 / 2019 - Biarritz</option>
                                        <option value="marseille">02 / 12 / 2019 - Marseille</option>
                                        <option value="grenoble">05 / 12 / 2019 - Grenoble</option>
                                        <option value="geneve">06 / 12 / 2019 - Genève</option>
                                        <option value="zurich">09 / 12 / 2019 - Zurich</option>
                                    </select>
                                    <br>
                                    <label for="tickets">Number of tickets</label>
                                    <select name="number" id="tickets">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                    <br>
                                    <input class="form-control" type="text" placeholder="Precise own many kids and adults" name="type" required>
                                    
                                </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-tickets" onClick="Alert()">I book this day</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <a role="button" class="btn btn-tickets" id="reservation" data-toggle="modal" data-target="#vote">Want to see us for christmas ? - Vote for your city</a>
                </div>
                <div class="modal fade" id="vote" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">Vote for you favorite city</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="#" th:action="@{/vote}" method="post" th:object="${vote}">
                                <div class="modal-body">
                                    <div class="d-flex flex-row">
                                        <input type="radio" name="city" value="London" id="one" class="sr-only"/>
                                        <label for="one">
                                            <span aria-hidden="true">London</span>
                                        </label>
                                    </div>
                        
                                    <div class="d-flex flex-row">
                                        <input type="radio" name="city" value="Zurich" id="two" class="sr-only"/>
                                        <label for="two">
                                            <span aria-hidden="true">Zurich</span>
                                        </label>
                                    </div>
                    
                                    <div class="d-flex flex-row">
                                        <input type="radio" name="city" value="Barcelona" id="three" class="sr-only"/>
                                        <label for="three">
                                            <span aria-hidden="true">Barcelona</span>
                                        </label>
                                    </div>
                    
                                    <div class="d-flex flex-row">
                                        <input type="radio" name="city" value="Manchester" id="four" class="sr-only"/>
                                        <label for="four">
                                            <span aria-hidden="true">Manchester</span>
                                        </label>
                                    </div>
                    
                                    <div class="d-flex flex-row">
                                        <input type="radio" name="city" value="Nantes" id="five" class="sr-only"/>
                                        <label for="five">
                                            <span aria-hidden="true">Nantes</span>
                                        </label>
                                    </div>
                                    <div class="d-flex flex-row">
                                        <input type="radio" name="city" value="La-Rochelle" id="six" class="sr-only"/>
                                        <label for="six">
                                            <span aria-hidden="true">La Rochelle</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-tickets">I vote</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript">
            function Alert(){
                const book = "Your reservation has been saved";
                alert(book);
            }
        </script>

        <script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>       
        
    </body>
</html>